<span>Check styles removed on selecting text in various ways and check styles reinstated when deselect or move focus from current component.</span>
<DemoComponentUse.Demo.DemoStyleUsage></DemoComponentUse.Demo.DemoStyleUsage>
