@page "/"
<PageTitle>Wasm: Blazor Styled TextArea</PageTitle>
<h2>Wasm: Blazor Styled TextArea</h2>
<DemoStyleUsage></DemoStyleUsage>
<hr /> 
<DemoChangedLinesUsage></DemoChangedLinesUsage>
<hr />
<DemoTypeaheadUsageInline></DemoTypeaheadUsageInline>
<hr />
<DemoTypeaheadUsageSelector></DemoTypeaheadUsageSelector>
<hr />