@page "/tests"
@using DemoComponentUse.Tests;
<PageTitle>Tests</PageTitle>
<h2>Tests</h2>
<TestWholeLineMatch></TestWholeLineMatch>
<hr />
<TestSingleCharMatching></TestSingleCharMatching>
<hr />
<TestCombinedGlobalAndOnLineMatch></TestCombinedGlobalAndOnLineMatch>
<hr />
<TestTextToCaret></TestTextToCaret>
<hr />
<TestTextSelection></TestTextSelection>
<hr />
<TestStartOfLineMatching></TestStartOfLineMatching>
<hr />
<TestHtmlTemplateStyled></TestHtmlTemplateStyled>
<hr />
<TestTextOfSameCharMatchingWhenSequentialText></TestTextOfSameCharMatchingWhenSequentialText>
<hr />

<div>Other checks</div>
<ul>
    <li>Check can copy all, paste twice, undo to undo last paste without error</li>
</ul>