@page "/"
<PageTitle>Server: Blazor Styled TextArea</PageTitle>
<h2>Server: Blazor Styled TextArea</h2>
<DemoStyleUsage UseStandardTextarea=true></DemoStyleUsage>
<hr />
<DemoChangedLinesUsage UseStandardTextarea=true></DemoChangedLinesUsage>
<hr />
<DemoTypeaheadUsageInline UseStandardTextarea=true></DemoTypeaheadUsageInline>
<hr />
<DemoTypeaheadUsageSelector UseStandardTextarea=true></DemoTypeaheadUsageSelector>
<hr />
